.drive{:data=>{:machine=>drive.machine_name, :snapshot=>drive.snapshot_id}}
  %h1
    =drive.uuid[0...6]
    -if(drive.machine_name)
      (#{drive.machine_name})
      -if(drive.snapshot_id)
        ="--#{drive.snapshot_id[0...8]}"
      -else
        *
    ="[#{drive.type}]"
  -drive.children.each do |dc|
    =render :partial=>"drives/drive", :locals=>{:drive=>dc}
