.snapshot{:id=>snapshot.uuid}
  -unless(machine.running?)
    .form_button
      -form_tag(restore_machine_snapshot_url(machine,snapshot)) do
        =submit_tag("Restore", :confirm=>"Are you sure? This will erase any unsnapshotted state.")
    -if(snapshot.deletable?)
      .form_button
        -form_tag(machine_snapshot_url(machine,snapshot), :method=>:delete) do
          =submit_tag("Delete", :confirm=>"Are you sure?")
  %h1=snapshot.name
  -snapshot.children.each do |ss|
    =render :partial=>"snapshots/snapshot", :locals=>{:machine=>machine,:snapshot=>ss}
  -if(snapshot.current)
    %div{:style=>"font-weight:bold;float:left;border:11px double black;padding:5px;background:white;"} Current
    %div{:style=>"clear:left;"}
