%div{:class=>"machine" + (machine.running? ? " running" : "")}
  %h1=machine.name
  %h2 Ports
  %ul
    -machine.ports.each do |port|
      %span{:style=>"font-weight:bold;"}=port[:name]+":"
      =" #{port[:host]}&rarr;#{port[:guest]}"
      
