%div{:id=>machine.name, :class=>"machine" + (machine.running? ? " running" : "")}
  %h1=machine.name
  .details_holder
    =link_to("Show details", '#', :onclick=>"$('details-#{machine.uuid}').toggle();return false;")
    %div{:id=>"details-#{machine.uuid}", :style=>"display:none;"}
      %table{:border=>"1"}
        -machine.info.keys.sort.each do |k|
          %tr
            %td=k
            %td=machine.info[k]
  -if(machine.running?)
    -form_tag(stop_machine_url(machine)) do
      =submit_tag("Unplug")
  -else
    -form_tag(start_machine_url(machine)) do
      =submit_tag("Start") 
  %h2 Ports
  %ul
    -machine.ports.each do |port|
      %span{:style=>"font-weight:bold;"}=port[:name]+":"
      =" #{port[:host]}&rarr;#{port[:guest]}"
  %h2 Snapshots
  -unless(machine.running?)
    -form_tag(machine_snapshots_path(machine), :method=>:post) do
      =text_field_tag :name
      =submit_tag("Take")
  -machine.snapshots.each do |ss|
    =render :partial=>"snapshots/snapshot", :locals=>{:snapshot=>ss,:machine=>machine}
  -form_tag(machine_drive_path(machine), :method=>:post, :class=>"drive_form") do
    =hidden_field_tag :uuid
  -form_tag(machine_dvd_path(machine), :method=>:post, :class=>"dvd_form") do
    =hidden_field_tag :name
