%div{:id=>machine.name, :class=>"machine" + (machine.running? ? " running" : "")}
  %h1=machine.name
  -if(machine.running?)
    -form_tag(stop_machine_url(machine)) do
      =submit_tag("Unplug")
  -else
    -form_tag(start_machine_url(machine)) do
      =submit_tag("Start") 
  %h2 Ports
  %ul
    -machine.ports.each do |port|
      %span{:style=>"font-weight:bold;"}=port[:name]+":"
      =" #{port[:host]}&rarr;#{port[:guest]}"
  %h2 Snapshots
  -unless(machine.running?)
    -form_tag(machine_snapshots_path(machine), :method=>:post) do
      =text_field_tag :name
      =submit_tag("Take")
  -machine.snapshots.each do |ss|
    =render :partial=>"snapshots/snapshot", :locals=>{:snapshot=>ss,:machine=>machine}      
