!!! XML
!!!
%html
  %head
    %title VirtualBox manager
    =stylesheet_link_tag "application"
    =javascript_include_tag :defaults
    =yield :head
  %body
    %h1 VirtualBox Manager
    -if(flash[:notice])
      %pre#flash=flash[:notice]
    =yield
